<!-- Modal to Add New Cloth -->
<div class="modal fade" id="addClothModal" tabindex="-1" aria-labelledby="addClothModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addClothModalLabel">Add New Cloth</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="addCloth" method="post" action="/addcloth">
                <div class="modal-body" id="modal">
                    <input type="file" class="form-control" name="image" accept="image/*">
                    <br>
                    <input type="text" class="form-control" name="name" placeholder="Cloth Name" autocomplete="off" required>
                    <br>
                    <input type="text" class="form-control" name="color" placeholder="Color" required>
                    <br>
                    <select class="form-select" name="type" required>
                        <option value="" selected disabled>Type</option>
                        <option value="Top">Top</option>
                        <option value="Bottom">Bottom</option>
                        <option value="Footwear">Footwear</option>
                        <option value="Accessories">Accessories</option>
                    </select>
                    <br>
                    <select class="form-select" name="occasion" required>
                        <option value="" selected disabled>Occasion</option>
                        <option value="Casual">Casual</option>
                        <option value="Formal">Formal</option>
                        <option value="Party">Party</option>
                        <option value="Sports">Sports</option>
                    </select>
                    <br>
                    <input type="number" class="form-control" name="temperature" placeholder="Temperature to Wear (°C)" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Add Cloth</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="wardrobe" class="section">

    <div style="width: 100%;">
        {{#if message}}
            <div id="message" class="alert alert-success" role="alert">{{message}}</div>
        {{/if}}
        {{#if error}}
            <div id="error" class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <h3>My Clothes</h3>
        <br>
        {{#if clauset}}
        <div id="all-clothes" class="d-flex flex-row flex-wrap">
            {{#each clauset}}
            <div class="card" style="width: 15rem; margin: 0 20px 20px 0;">
                    <img class="card-img-top" src="/img/img-placeholder.jpg" alt="Cloth Image">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text"><strong>Color:</strong> {{color}}</p>
                        <p class="card-text"><strong>Type:</strong> {{type}}</p>
                        <p class="card-text"><strong>Occasion:</strong> {{occasion}}</p>
                        <p class="card-text"><strong>Temperature:</strong> {{temperature}}°C</p>
                        <br>
                        <div style="width: 100%;" class="d-flex justify-content-between">
                            <a href="/editcloth/{{_id}}" class="card-link" 
                                style="color: black; text-decoration: underline; text-underline-offset: 3px;">Edit</a>
                            <a href="/deletecloth/{{_id}}" class="card-link" 
                                style="color: black; text-decoration: underline; text-underline-offset: 3px;">Delete</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        {{else}}
            <p>No clothes were added.</p>
        {{/if}}
    </div>

    <div id="controls" class="d-flex justify-content-center">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addClothModal">
            Add New Cloth
        </button>
    </div>
</div>